.cardFool {
	background-color: #fff;
	margin: 20px auto;
	max-width: 800px;
	width: 100%;
	padding: 20px 20px;
	border: 1px solid #586069;
    border-radius: 25px;
}

.cardFoolName {
	font-size: 35px;
	color: #0366d6;
}

.cardFoolName:hover {
	text-decoration: underline;
}

.repositoryInfo {
	color: #24292e;
	font-size: 20px;
	font-weight: 900;
	padding: 5px 5px 5px 0px;
}

.repositoryInfoValue {
	color: #586069;
	font-size: 20px;
}

.cardOwner {
	display: flex;
	align-items: center;
	margin: 20px 0px;
}

.avatarOwner {
	max-width: 100px;
	width: 100%;
	border-radius: 50%;
}

.ownerLink {
	display: inline-block;
	margin: 0px 10px;
	font-size: 25px;
	color: #24292e;
}

.ownerLink:hover {
	text-decoration: underline;
}

.languagesBlok {
	margin: 10px 0px;
}

.spanBold {
	font-weight: bold;
}

.headerList {
	font-size: 35px;
	color: #24292e;
	font-weight: 900;
	padding: 5px 0px;
}

.contributorsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contributorsListItem {
	padding: 10px 5px;
	margin: 0 5px;
	text-align: center;
}

.avatarContributors {
	display: block;
	border-radius: 50%;
	max-width: 50px;
	width: 100%;
	margin: 5px auto;
}

.avatarContributorsLink {
	color: #0366d6;
}

.avatarContributorsLink:hover {
	text-decoration: underline;
}